# Dotfile Setup
alias dotfiles='git --git-dir=$HOME/.dotfiles/.git --work-tree=$HOME'

# Navigation
alias b="cd .."
alias home="cd ~"
alias oa="notepad ~/.dotfiles/bashrc/.aliases"
alias sz="source ~/.bashrc"

# Linting
alias lint="npx eslint --fix"

# Git branches
alias gitc="git checkout"
function gitcm () { # Git checkout <default_branch>
    git checkout "$(git symbolic-ref refs/remotes/${remote:-origin}/HEAD | sed 's,.*/,,')"
}
alias gitb="git branch"
alias gitbd="git branch -D"
alias gitcb="git checkout -b"
alias gitr="git reset"
alias gitrh="git reset --hard"
function gitrm () { # Git rebase <default_branch>
    git rebase "$(git symbolic-ref refs/remotes/${remote:-origin}/HEAD | sed 's,.*/,,')"
}
alias gitrc="git rebase --continue"
alias gitl="git log"

# Git changes
alias gitp="git pull"
alias gs="git status"
alias ga="git add"
alias gaa="git add ."
alias grs="git restore --staged"
alias gc="git commit -m"
alias gac="git commit -am"
alias gaac="git add . && git commit -m"
function gp () {
    git push origin $(git branch --show-current) "$@"
}
alias gpf="gp --force-with-lease"